<h2>New Butterfly</h2>
<form action="/butterflies" method="post">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="family" placeholder="Family"></p>
  <p><input type="url" name="image" placeholder="Image URL"></p>

  <input type="submit" value="Create butterfly">
</form>
