body {
  text-align: center;
  background: url(http://cache2.asset-cache.net/xc/493069215.jpg?v=2&c=IWSAsset&k=2&d=IJ4Gn6ItrkuGsvnlqe5LPHSWr1M3sFwoKLDX6WP0WwEuq5QWigkxb4dttU9tZIWc0);
  font-size: 800%;
}

input {
  font-size: 100%;
}