%h1 HAML Demo

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur consequatur, tempore <strong>laudantium</strong> velit. Eos quod a rerum similique omnis esse, nam voluptate doloremque consequatur quidem aspernatur ea delectus. Esse, assumenda.

%strong this is in bold

%div.main
  %ul
    %li groucho
    %li harpo
    %li chio

- if @current_user.present? && @current_user.admin?
  %h2= Random.rand

- [1, 2, 3].each do |n|
  %div= n

