<div class="copy">
  <h2>About</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, eius eligendi dicta asperiores? Numquam autem culpa dolor sed doloribus alias at adipisci, accusamus assumenda sint nulla, fugit similique quia! Provident.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vero fugit aspernatur quos laudantium autem esse nostrum, quod? Saepe libero perferendis delectus reprehenderit vel consectetur dicta, cupiditate quibusdam laudantium hic.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores excepturi, minus illum culpa ea numquam minima magnam aperiam laudantium ab nobis perferendis fugit molestias veniam, tempora cum, cumque commodi, veritatis.</p>
</div>