<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="container">

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/help">Help</a>
      <a href="/advertise">Advertise</a>
    </nav>

    <h1>Fancy Calculator</h1>

    <%= yield %>

  </div>

</body>
</html>