<h2>New Butterfly</h2>
<form action="/butterflies" method="post">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="family" placeholder="Family"></p>
  <p><input type="url" name="image" placeholder="Image URL"></p>

  <select name="plant_id">
    <option>Larval plant...</option>
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create butterfly">
</form>
