<h2>New Plant</h2>
<form action="/plants" method="post">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="url" name="image" placeholder="Image URL"></p>

  <input type="submit" value="Create plant">
</form>
