body {
  background-color: lime;
  color: white;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  text-align: right;
}

a {
  color: black;
}

.copy {
  text-align: left;
  background-color: white;
  color: black;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px black;
}









