html {
  background-image: url(http://vignette3.wikia.nocookie.net/space-jam/images/5/50/Wiki-background/revision/latest?cb=20130913230435);
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
}

nav {
  text-align: right;
}

.controls {
  text-align: right;
}

.feature {
  max-width: 100%;
}