<!DOCTYPE html>
<html>
<head>
  <title>Helpers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/numbers">Numbers</a>
  <a href="/text">Text</a>
  <a href="/assets">Assets</a>
  <a href="/url">URL</a>
</nav>

<%= yield %>

</body>
</html>
