<div id="main"></div>

<script id="appViewTemplate" type="template/underscore">
  <h1>Secrets</h1>
  <div id="secretForm">textarea view goes here</div>

  <ul id="secrets">
    <li>Secrets go here</li>
    <li>Secrets go here</li>
    <li>Secrets go here</li>
  </ul>
</script>